p {
    font-family: Lato;
    font-size: 20px;
  }
  
  .red {
    color: red;
  }
  
  .blue {
    color: blue;
  }
  
  .green {
    color: green;
  }
  
  .app-component{
    text-align: center;
    border-style: solid;
    border-color: aqua;
    padding: 5px
  }
  
  .component{
    text-align: center;
    border-style:solid;
    border-color: rgb(235, 137, 9);
    padding: 10px
  }
  footer{
    text-align: center;
    border-style: solid;
    border-color: brown;
    padding: 5px
  }

  p {
    font-family: Lato;
  }
  .click{
    padding:5px;
    border-style: solid;
    border-color: blue;
    max-width: fit-content;
    cursor: pointer;
  }

  .error{
    color:red
  }

  label{
    padding: 10px;    
    font-size:20px;
  }

  